button{
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255,.6);
  border: none;
  padding: 5px;
  border-radius: 5px;
  color:black;
  margin:10px 0;
}
@media  screen and (max-width: 768px) {
  button {
    width: 100%;
    justify-content:start;

  }

}

