@use '../../../core/styles/mixins' as *;
@use '../../../core/styles/menus' as menu;
section{
  container-name:page;
  container-type: inline-size;
  justify-content: center;
  width: 100dvw;
  @include flex-column;
  @include form-container;
}
