<section>
  <form [formGroup]="registerForm"  (ngSubmit)="onSubmit()">
    <legend>Crea una cuenta.</legend>
    <fieldset>
      <label for="nombre">*Nombre</label>
      <input
        type="text"
        id="nombre"
        placeholder="Tu nombre"
        formControlName="name"
      >
      <label for="telefono">*Teléfono</label>
      <input
        type="tel"
        id="telefono"
        placeholder="Tu teléfono"
        formControlName="phone"
      />
      <label for="mail">*Mail</label>
      <input
        type="email"
        id="mail"
        placeholder="Tu mail"
        formControlName="email">
      <label for="clave">*Contraseña</label>
      <input
        type="password"
        id="clave"
        placeholder="Tu contraseña"
        formControlName="password"
      >
<!--      <label for="clavedos">*Repetir contraseña</label>-->
<!--      <input type="password" name="clavedos" id="clavedos" placeholder="Repetir tu contraseña" required>-->

      <label for="ubicacion">Ubicación</label>
      <app-location-picker (coordinatesSelected)="onLocationSelected($event)"/>

      <button type="submit">Registrarse</button>
    </fieldset>
    <fieldset class="Opciones">
      <a routerLink="/auth/login">¿Ya tienes una cuenta?</a>
    </fieldset>
    <p>Al registrarse acepta los términos y condiciones.</p>
    <a href="terminos-condiciones.pdf">Leer</a>
    <p class='alerta'>* Los campos son obligatorios.</p>

  </form>
</section>
