<form>
  <legend>Crea una cuenta.</legend>
  <fieldset>
    <label for="nombre">*Nombre</label>
    <input type="text" name="nombre" id="nombre" placeholder="Tu nombre" required maxlength="30">
    <label for="mail">*Mail</label>
    <input type="mail" name="mail" id="mail" placeholder="Tu mail" required>
    <label for="clave">*Contraseña</label>
    <input type="password" name="clave" id="clave" placeholder="Tu contraseña" required>
    <label for="clavedos">*Repetir contraseña</label>
    <input type="password" name="clavedos" id="clavedos" placeholder="Repetir tu contraseña" required>
    <label for="tell">Télefono</label>
    <input type="text" name="tell" id="tell" placeholder="Tu télefono">
<!--    <label for="provincia">*Provincia</label>-->
<!--    <select name="provincia" id="provincia" onchange="city(this.value);" required>-->
<!--      <?php-->
<!--                $sql = "SELECT * FROM provincias";-->
<!--                $query = mysqli_query($link,$sql);-->
<!--                while($rows = mysqli_fetch_assoc($query))-->
<!--                {-->
<!--                    echo "<option value='$rows[id]'>$rows[provincia]</option>";-->
<!--      }-->
<!--      ?>-->
<!--    </select>-->
<!--    <label for="localidad">*Localidad</label>-->
<!--    <select name="localidad" id="localidad" required>-->
<!--    </select>-->

    <input type="submit" name="login" value="Registrarse">
  </fieldset>
  <fieldset class="Opciones">
    <a routerLink="/auth/login">¿Ya tienes una cuenta?</a>
  </fieldset>
  <p>Al registrarse acepta los términos y condiciones.</p>
  <a href="terminos-condiciones.pdf">Leer</a>
  <p class='alerta'>* Los campos son obligatorios.</p>

</form>
