@use '@angular/cdk';
@include cdk.text-field-autosize;
form{
  background-color: #5089C6;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:15px;
  //margin:auto;
  width: 100%;
  box-shadow: 3px 3px  10px var(--c3);

  button[type="submit"]{
    color: black;
    font-size: 16px;
    width: 80%;
    align-self: center;
    //border: 4px solid var(--c2);
    //background-color: var(--c2);
    border-radius: 5px;
    &:hover{
      transform: scale(1.1);

      cursor: pointer;
    }
  }

  legend{
    text-decoration: underline;
  }
  fieldset{
    border: none;
    display: flex;
    flex-direction: column;

  }

}

form a, p{
  color:#EEE;
  text-align: center;
}
form a:hover{
  color:#000;
}
form input::placeholder, form textarea::placeholder{
  color:#DDD;
}
form span:hover{
  cursor: pointer;
}
form section input{
  width: auto;
  border:none;
}


fieldset.Main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
fieldset.Opciones{
  display: flex;
  justify-content: center;
}

form label{
  padding: 1em;
}
form input, form select, form textarea{

  border: none;
  border-bottom: 3px solid white;
  background: none;

  margin: 1em;
  border-radius: 2px;
  font-size: 17px;
  padding: 14px 16px;
  max-width: 330px;

}


form a, button{
  align-self: center;
  font-size: .9rem;
  text-align: center;
  border: none;
  margin: .6em;
  padding: .6em;
  transition: 1s;
  border-radius: 3px;
  background-color:rgba(255, 255, 255, 0.3);
}
form input:focus{
  outline-color: white;
  background-color:rgba(255, 255, 255, 0.3);
}


