@mixin form-container {
  @container page (width > 500px) {
    form {
      width: 450px;
    }
  }
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}
@mixin menu{
  @include flex-row;
  width: 100%;
}
@mixin responsive-contenedor {
  width: 90dvw;
  flex-direction: column;
  height: auto;
}

@keyframes skeleton-loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
@mixin skeleton{
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s infinite;
  border-radius: 4px;
}

@mixin journalPart{
  @include flex-column;
  align-items: center;
  justify-content: center;
  min-height: 3em;
  width: 100%;
  border-bottom: 3px dashed var(--c3);
}
