@mixin form-container {
  @container page (width > 500px) {
    form {
      width: 450px;
    }
  }
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}
@mixin menu{
  @include flex-row;
  width: 100%;
}
