.pagination {
  ul{
  width: 100%;
  list-style: none;
  display: flex;
  gap: 0.5rem;
  padding: 0;

  }
  li {
    button{
      display: block;
      padding: 0.5rem 0.75rem;
      border: 1px solid #ddd;
      border-radius: 4px;
      color: #333;
      text-decoration: none;
      cursor: pointer;
      background: #fff;
      transition: background 0.2s;
    }

    button:hover,button.active {
      background: var(--c1);
      color: #fff;
      border-color: var(--c1);;
    }

    button.disabled {
      color: #aaa;
      cursor: not-allowed;
      background: #f9f9f9;
    }
  }
}
