@let entry = this.entry();
<div [cdkContextMenuTriggerFor]="context_menu" >
  <p>Fecha: {{entry.date | date}}</p>
  <h3>{{entry.title}}</h3>
  <p>{{entry.content}}</p>
</div>
<ng-template #context_menu>

  <div class="menu" cdkMenu>
    <app-button
      cdkMenuItem
      (mouseenter)="onEditHandler()"
      tooltip="Editar registro."
      route="/app/entries/edit/{{entry.id}}"
      icon="assets/edit.svg"
    />
    <app-button
      cdkMenuItem
      tooltip="Eliminar registro."
      (click)="openDeleteDialog()"
      icon="assets/delete.svg"
    />
  </div>
</ng-template>
