<a routerLink="/app/journals">
  <section class="Contenedor uno">
    <img src="./images/libreta.png" alt="libreta" class="Contenedor__imagen">
    <div><h2>¿Te olvidaste la libreta?</h2><p>Aquí podrás actualizar todos los detalles de tu libreta para tenerlos siempre con vos.</p></div>
  </section>
</a>
<a routerLink="/forum/">
  <section class="Contenedor dos">
    <div><h2>¿Estás buscando una mascota?</h2><p>En este espacio podrás ver y publicar mascotas para adoptar.</p></div>
    <img ngSrc="images/adopcion.png" width="150" height="150" alt="perro-adopcion" class="Contenedor__imagen">
  </section>
</a>

<a routerLink="/forum/">
  <section class="Contenedor uno">
    <img ngSrc="images/perdido.png" width="150" height="150" alt="perro-perdido" class="Contenedor__imagen">
    <div><h2>¿Se perdío tu mascota?</h2><p>Podés registrar tu anuncio acá para que otras personas lo vean.</p></div>
  </section>
</a>
<a routerLink="/forum/">
  <section class="Contenedor dos">
    <div><h2>¿Tu mascota busca pareja?</h2><p>En este espacio podrás ver y publicar un anuncio para buscarle una pareja a tu mascota</p></div>
    <img ngSrc="images/pareja.png" width="150" height="150" alt="perro-pareja" class="Contenedor__imagen">
  </section>
</a>
<!--<a href="manual-usuario.pdf">-->
<a>
  <section class="Contenedor uno">
    <img src="./images/manual.png" alt="libreta" class="Contenedor__imagen">
    <div><h2>¿Primera vez en el sitio?</h2><p>Con el siguiente link podrás descargar el manual de usuario para leer cómo usar la página.<a href="manual-usuario.pdf">Manual de usuario</a></p></div>
  </section>
</a>
