@use '../../../core/styles/menus';
@use '../../../core/styles/mixins';


article{
  @include mixins.flex-column;
  align-items: center;
  justify-content: center;
  min-height: 3em;
  width: 100%;
  border-bottom: 3px dashed var(--c3);

}


article.Registros{
  @include mixins.flex-column;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

article.Datos{
  margin-bottom: 10px;


}
article.Datos p, .Titulo{  color:black;
  margin-left: 7px;
}
article.Datos a{
  margin: .3em;
  background: rgba(255,255,255,70%);
  padding: .3em;
  border-radius: 5px;
  align-self: center;
}
article.Foto{
  .Foto__container{
    @include mixins.flex-row;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
  }
  img {
     max-width: 30%;
     margin: 5px;
     border-radius: 5px;
     height: auto;
   }
  a::before{
    content: "#";
    color: var(--c1);
  }


}

.Main{
 @include mixins.flex-column;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 80%);
  margin: auto;
  justify-content: center;
  container-name: main;
  container-type: inline-size;
  width: 90dvw;
}

@container main (width < 400px) {
  article {
    width: 90dvw;
  }

}
@media screen and (width > 700px) {
  .Main {
    width: 60dvw;
  }

}
