
<div class="Main">

@if (this.journal() != null){
@let animal = this.journal()!.animal;
  <article class="Registro">
    <h2 class="Titulo">Datos</h2>
    <p>Nombre: {{animal.name}}</p>
    <p>Descripción: {{animal.description}}</p>
    <p>Fecha de nacimiento: {{animal.birthdate | date}}</p>
    <p>Raza: {{animal.breed}}</p>
    <p>Peso: {{animal.weight}} kg</p>
    <p>Color: {{animal.color}}</p>
    <p>Tamaño: {{animal.size! | size}}</p>
    <p>Sexo: {{animal.gender! | gender}}</p>
  </article>
}
@if (!this.animalImagesResource.isLoading()) {
@let images = this.animalImagesResource.value()!.data!.images;
  <article class="Foto">
    <h2 class="Titulo">Fotos</h2>
    <div class="Foto__container">
    @for (i of images; track i.id) {
      <img
        [ngSrc]="environment.public_url+'/'+i.image.path"
        width="600"
        height="400"
        [alt]="i.image.type"
      />
    }
    </div>

  </article>

  }


<!--  <article class="Foro">-->
<!--    <?php if(mysqli_num_rows($query) >0): ?>-->
<!--    <?php while($foro = mysqli_fetch_assoc($query)):?>-->
<!--    <a href="../foros/ver-publicacion.php?f=<?= $foro["foro"]?>&idf=<?=$foro["idforo"]?>">Ver publicación en foro <?=$foro["foro"] ?></a>-->
<!--    <?php endwhile; ?>-->
<!--    <?php endif; ?>-->
<!--  </article>-->
@if (!this.entriesResource.isLoading()) {
  @let entries = this.entriesResource.value()!.data!;
  <article class="Registro">
    <h2 class="Titulo">Registros</h2>
    <app-entry-list
      [entries] = entries
    />
  </article>


}

</div>


