@use '../../../core/styles/menus';
@use '../../../core/styles/mixins';

.container{
  @include mixins.flex-column();
  align-items: center;
  justify-content: center;
  background-color: blue;
  width: 100%;
}
