@if (this.userResource.isLoading()) {
  <app-user-skeleton/>
} @else {
  @let user = this.userResource.value()!.data!;
  <div class="user-detail">
    <h2 class="Titulo">Mi cuenta</h2>
    <ul>
      <li>Nombre: {{user.name}}</li>
      <li>Mail: {{user.email}}</li>
      <li>Télefono: {{user.telephone}}</li>
      <li>Ubicación: {{user.location}}</li>
      <li>Fecha de registro: {{user.createdAt | date}}</li>
    </ul>
    <!--      <h2>Notificar: sí</h2>-->
    <div class="menu">
      <app-button
        route="/auth/edit"
        label="Editar cuenta"
        icon="assets/edit.svg"
      />
      <app-button
        (click)="openDeleteDialog()"
        label="Eliminar cuenta"
        icon="assets/delete-profile.svg"
      />
    </div>
  </div>
}
