@use '../../../core/styles/menus';
@use '../../../core/styles/detail';
@use '../../../core/styles/mixins';

.user-detail{
  @include mixins.flex-column();
  @include detail.detail;
  padding: 40px;
  max-width: 500px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

ul{
  list-style:none;
  width: auto;
}
