@use "../../../core/styles/mixins";
header{
  container-name: navbar;
  container-type: inline-size;
  margin-bottom: 2em;
  height: auto;
}

nav{
  height: auto;
  @include mixins.flex-row;
  background-color: var(--c1);
  padding: 0 5%;
  font-family: var(--f2), sans-serif;
  margin-bottom: 1.5em;
  align-items: center;
  justify-content: space-evenly;
  h1{
    color:white;
    font-size: 2.2em;
    text-align: left;
    :hover{
      text-decoration: underline white;
    }
  }
  ul{
    height: auto;
    list-style: none;
    display: flex;
    li{
      font-family: var(--f1), sans-serif;
      font-weight: 500;
      width: 100%;
      padding: .5em;
      color: white;
      text-decoration: none;
      &:hover{
        background-color:rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        padding: .5em;
        color:var(--c1);
        text-decoration: underline;
      }
    }
  }

}
.child {
  display: flex;
  flex-direction: column;
}

/* When the container is greater than 60 characters... */
@container navbar (width < 600px) {

  nav{
    height: 4em;
    padding: 1em;
  }
  /* Change the flex direction of the .child element. */
  ul,nav,header{
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
}
