

<div class="menu"  >


  <app-button
    tooltip='Ver detalles de la libreta.'
    route="view"
    icon="assets/view-grid.svg"
    label="Ver libreta"
  />
  <app-button
    tooltip="Organizar fotos de la libreta."
    route="image"
    icon="assets/photo.svg"
    label="Organizar fotos"
  />
  <app-button
    tooltip="Editar información de la libreta."
    route="edit"
    icon="assets/edit.svg"
    label="Editar información"
  />
  <app-button
    tooltip="Crear un nuevo registro en esta libreta."
    route="/app/entries/new"
    icon="assets/plus.svg"
    label="Crear nuevo registro"
  />
  <app-button
    tooltip="Crear una nueva publicación."
    route="/forum/all"
    icon="assets/plus.svg"
    label="Crear publicación"
  />
  <app-delete-journal-button/>
</div>
