<!-- Post Item Skeleton Template -->
<div class="post-item-skeleton">
  <!-- Image skeleton (conditional like original) -->
  <div class="skeleton skeleton-image" ></div>

  <!-- Post data skeleton -->
  <div class="post-data-skeleton">
    <!-- Title skeleton -->
    <div class="skeleton skeleton-title"></div>

    <!-- Content skeleton (3 lines to simulate description) -->
    <div class="skeleton skeleton-content line-1"></div>
    <div class="skeleton skeleton-content line-2"></div>
    <div class="skeleton skeleton-content line-3"></div>

    <!-- Data fields skeleton -->
    <div class="skeleton skeleton-field animal-name"></div>
    <div class="skeleton skeleton-field city"></div>
    <div class="skeleton skeleton-field user"></div>
    <div class="skeleton skeleton-field contact"></div>
    <div class="skeleton skeleton-field published"></div>
    <div class="skeleton skeleton-field edited"></div>


  </div>
</div>
