<footer>
  <h4>Contacto</h4>
  <article class="Contacto">
    <p><span class="fas fa-map-marker-alt"></span>Miramar, Buenos Aires, Argentina</p>
    <p><span class="fas fa-envelope"></span>Para comunicarte por el servicio haga click <a routerLink="/contact" rel="noopener noreferrer">aquí</a></p>
  </article>
  <section class="Creditos">
    <p>Desarrollado por <a href="https://bravojuan.site" target="_blank">Bravo Juan Alé</a><span class="far fa-copyright"></span> 2025.</p>
  </section>
</footer>
